.navbar-default .navbar-nav>li>a.active{
	color: #4FADC9;
}
.navbar-default .navbar-nav>li>a{
	font-size: 15px;
	font-weight: 600;
}
body {
    font-family: 'Lato';
}

.fa-btn {
    margin-right: 6px;
}